.flex{
  display: flex;
  &-row{
    display: flex;
    flex-direction: row;
    &-s-c{
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    &-s-e{
      display: flex;
      flex-direction: row;
      align-items: flex-end;
    }
    &-c-s{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
    }
    &-c-c{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    &-c-e{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-end;
    }
    &-e-s{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: flex-start;
    }
    &-e-c{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
    }
    &-e-e{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: flex-end;
    }
    &-sb-s{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }
    &-sb-c{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    &-sb-e{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
    }
    &-sa-s{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-start;
    }
    &-sa-c{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }
    &-sa-e{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-end;
    }
  }
  &-col{
    display: flex;
    flex-direction: column;
    &-s-c{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &-s-e{
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
    &-c-s{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
    &-c-c{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &-c-e{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
    }
    &-e-s{
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
    }
    &-e-c{
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
    }
    &-e-e{
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
    }
    &-sb-s{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
    }
    &-sb-c{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
    &-sb-e{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
    }
    &-sa-s{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
    }
    &-sa-c{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }
    &-sa-e{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-end;
    }
  }
}


.vb > .vb-dragger {
    z-index: 5;
    width: 12px;
    right: 0;
    height: 100%;
}

.vb > .vb-dragger > .vb-dragger-styler {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: rotate3d(0,0,0,0);
    transform: rotate3d(0,0,0,0);
    -webkit-transition:
        background-color 100ms ease-out,
        margin 100ms ease-out,
        height 100ms ease-out;
    transition:
        background-color 100ms ease-out,
        margin 100ms ease-out,
        height 100ms ease-out;
    background-color: rgba(48, 121, 244,.1);
    margin: 5px 5px 5px 0;
    border-radius: 20px;
    height: calc(100% - 10px);
    display: block;
}

.vb.vb-scrolling-phantom > .vb-dragger > .vb-dragger-styler {
    background-color: rgba(48, 121, 244,.3);
}

.vb > .vb-dragger:hover > .vb-dragger-styler {
    background-color: rgba(48, 121, 244,.5);
    margin: 0px;
    height: 100%;
}

.vb.vb-dragging > .vb-dragger > .vb-dragger-styler {
    background-color: rgba(48, 121, 244,.5);
    margin: 0px;
    height: 100%;
}

.vb.vb-dragging-phantom > .vb-dragger > .vb-dragger-styler {
    background-color: rgba(48, 121, 244,.5);
}
