//brand`s colors
$mp-brand-blue: #2D9CDB;
$mp-brand-grey: #4F4F4F;
$mp-brand-plate-grey: #e3e2e2;
$mp-brand-red: #F53866;
$mp-brand-border: #2B8FC3;
$mp-brand-bg: #F5F6F8;
$mp-brand-line: #E3ECF3;
//amator auth colors
$bg-grey: #E5E5E5;
$text-grey: #555555;
$border-grey: #EEEEEE;
$border-grey-active: #ccc9c9;
$dark-patch: rgba(0,0,0,0.47);
$white-patch: rgba(255,255,255,0.9);
$darknest-patch: rgba(0,0,0,0.7);

//amator aside + bg manage color
$bg-aside: #354052;
$bg-aside-select: #293240;
$bg-aside-separator: rgba(30, 37, 47, 0.3);
$text-aside-category: rgba(255, 254, 254, 0.4);
$text-aside-disabled-link: rgba(255, 254, 254, 0.6);
$bg-worksection: #EDF2F6;

//amator toolbar color
$text-non-active-grey: rgba(109, 109, 109, 0.8);
$text-active-grey: #525151;
$title: rgba(79, 79, 79, 1);
$title-non-active: rgba(139, 139, 139, 1);

//amator box color
$box-header: #6F7E95;
$box-sidebar: #354052;
$box-selector: #f2994a;


//administration colors
$red-select-aside: #DC3545;
$red-select-menu: #e04958;
$red-select-menu-o: rgba(224, 73, 88, 0.45);
//dependency colors
$blue-select-aside: #2F80ED;
$blue-select-menu: #3399FF;
$blue-select-menu-o: rgba(47, 128, 237, 0.45);
//manual colors
$orange-select-aside: #EF8F3A;
$orange-select-menu:  #F2994A;
$orange-select-menu-o: rgba(242, 153, 74, 0.45);


//button colors
$btn-text: #6D6D6D;
$switch-non-active: #C4C4C4;

//status colors
$process: #88118A;
$error: #F05050;
$warning: #F2994A;
$success: #2DB542;


//other colors
$link: rgba(45, 156, 219, 1);
$link-hover: rgba(22, 123, 181, 1);
$link-dark: rgba(73, 119, 235, 0.75);
$link-dark-hover: #4977EB;
